<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Football Garden</title>
    <link rel="icon" type="image/png" sizes="20x16" href="./logopng.png">
    <link rel="stylesheet" href="../css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="bg1">
        <div class="container2">

            <div id="electrique" class="section">
                <div class="content">
                    <a href="institution.html" class="title"></a>
                </div>
                <div class="overlay"></div>
            </div>

            <div id="disponibles" class="section">
                <div class="content">
                    <a href="equipe.html" class="title"></a>
                </div>
                <div class="overlay"></div>
            </div>
            <a href="aboutus.html" class="title"></a>
        </div>
    </div>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="{% static 'footballgarden/js/script.js' %}"></script>
</body>

</html>